* {
    margin: 20%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../images/back.jpg') no-repeat center center/cover;
    color: #fff;
}


.wrapper {
    width: 400px;
    background:rgb(1, 1, 69,0.7); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    margin-top: 20%;
}

.wrapper h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}


.input-box {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    padding: 0 45px 0 20px;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.input-box img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}


.btn {
    width: 100%;
    height: 50px;
    background: #FFA500; 
    color: #000;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #CC8C00; 
}


.register-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #FFA500; 
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}


.links {
    margin-top: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    border-radius: 10px;
}

.links img {
    margin: 0 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.links img:hover {
    transform: scale(1.1); 
}


@media (max-width: 768px) {
    .wrapper {
        width: 90%;
        padding: 20px;
    }

    .input-box {
        margin: 15px 0;
    }

    .btn {
        font-size: 16px;
    }
}