/**{
  background-image:url(../images/background.jpg); ;
}

@media (min-width: 768px) {
  ul {
    flex-direction: row;
    justify-content: center;
  }
  .card {
    width: 30%;
  }
}*/
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

