@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../images/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;

  line-height: 1;
  cursor:pointer;

}
.container{
  padding-left:10px ;
  padding-right: 10px;
}
